<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/registro.css">
    <title>Registro</title>
</head>
<body>

    <form action="/registro-usuario" method="POST">
        <div class="intput">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" placeholder="Ingrese su nombre">
        </div>
        <div class="intput">
            <label for="apellidos">Apellidos</label>
            <input type="text" name="apellidos" placeholder="Ingrese sus apellidos">
        </div>
        <div class="intput">
            <label for="edad">Edad</label>
            <input type="number" name="edad" placeholder="Ingrese su edad">
        </div>
        <div class="intput">
            <label for="fechanacimiento">Fecha de Nacimiento</label>
            <input type="date" name="fechanacimiento" placeholder="Ingrese su fecha de nacimiento">
        </div>
        <div class="radio">
            <label for="sexo">Sexo</label>
            <br>
            <input type="radio" name="sexo">
            <label for="sexo">Masculino</label>
            <input type="radio" name="sexo">
            <label for="sexo">Femenino</label>
            <input type="radio" name="sexo">
            <label for="sexo">Otro</label>
        </div>

        <div class="intput">
            <label for="pais">País</label>
            <select name="pais" id="pais">
                <option value="none">Seleccione un país</option>
                <option value="MX">México</option>
                <option value="COL">Colombia</option>
                <option value="ARG">Argentina</option>
            </select>
        </div>

        <div class="intput">
            <label for="identificacion">Identificación</label>
            <input type="file" name="identificacion">
        </div>

        <div class="intput">
            <button type="reset">Borrar</button>
            <input type="submit" value="Guardar">

        </div>

    
    </form>
    
</body>
</html>