<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlexBox</title>
    <link rel="stylesheet" href="/static/css/flexbox.css">
</head>
<body>
    <main class="contenedor">
        <div class="caja manzana">
            <p>Manzana</p>
        </div>
        <div class="caja platano">
            <p>Platano</p>
        </div>
        <div class="caja uva">
            <p>Uva</p>
        </div>
        <div class="caja naranja">
            <p>Naranja</p>
        </div>
        <div class="caja pera">
            <p>Pera</p>
        </div>

        <div class="caja limon">
            <p>Limón</p>
        </div>


    </main>
</body>
</html>