<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frutas</title>
    <link rel="stylesheet" href="/static/css/frutas.css">
</head>
<body>
    <main class="contenedor">
        <div class="caja manzana">
            <p>Manzana</p>
        </div>
        <div class="caja platano">
            <p>Platano</p>
        </div>
        <div class="caja uva">
            <p>Uva</p>
        </div>
        <div class="caja naranja">
            <p>Naranja</p>
        </div>
        <div class="caja pera">
            <p>Pera</p>
        </div>

        <div class="caja limon">
            <p>Limón</p>
        </div>
    </main>
    <div class="caja mas">
        <p>Agregar</p>
    </div>
    <div class="caja menos">
        <p>Menos</p>
    </div>
</body>
</html>