*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.contenedor {border: 0.3rem solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.caja {
    width: 10rem;
    height: 10rem;
}
.manzana {
    background-color: red;

}
.platano {
    background-color: yellow;

}.uva {
    background-color: violet;

}
.naranja {
    background-color: orange;

}
.pera {
    background-color: green;

}
.limon {
    background-color: greenyellow;

}